@import 'base/variables';

*{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    max-width: 1435px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/pricing';
@import 'blocks/contact';
@import 'blocks/footer'