@media (max-width:992px){

    .header{
        &__menu{
            position: relative;
            left: 150px;
        }
        &__logo{
            position: relative;
            left: 25px;
            top: 5px;
        }
    }
    .button1{
        position: relative;
        right: -275px;
        width: 160px;
        height: 50px;
        border: 2px solid #263238;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
    }

    .promo{
        min-height: 500px;
        &__logo{
            position: relative;
            top: -630px;
            right: -190px;
            width: 500px;
            height: 500px;
        }
        &__logo-1{
            width: 500px;
            height: 500px;
        }
        &_text{
            padding-left: 20px;
        }
        &__title{
            font-size: 48px;
            line-height: 64px;
        }
        &__light{
            position: relative;
            left: 300px;
            top: -235px;
            width: 70px;
            height: 70px;
        }
    }

    .button2{
        width: 292px;
        height: 80px;
        font-size: 24px;
        line-height: 36px;
        left: -77px;
        border-radius: 7px;
    }

    .advantages{
        &__header{
          font-size: 22px;
          line-height: 1px;  
        }
        &__subheader{
            font-size: 14px;
            line-height: 21px;
        }
        &__card1{
            height: 696px;
            width: 303px;
        }
        &__cardtext-1{
            padding-right: 60px;
            padding-bottom: 15px;
            padding-left: 40px;
        }
        &__img-1{
            width: 260px;
            height: 260px;
        }
        &__card2{
            width: 302px;
            height: 441px;
        }
        &__cardtext-2{
            top:50px;
            left: 0;
        }
        &__img-2{
            width: 205px;
            height: 205px;
            left: 90px;
        }
        &__card3{
            width: 302px;
            height: 441px;
        }
        &__card4{
            width: 616px;
            height: 241px;
        }
    }

    .button-card1{
        top: 0;
        left: 36px;
        width: 196px;
        height: 57px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 750px;
        margin: 0 auto;
        padding: 0;
    }
    .header{
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: none;
        justify-content: none;
        margin: 0;
        top: 0;
        right: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background-color: white;
        z-index: 3;
        transition: 0.3s all;
        a:visited{
            color: black;
        }
        &__logo-box{
            display: block;
            position: relative;
            width: 105px;
            left: 40px;
            top: 40px;
        }
        &__logo-text{
            font-weight: 400;
            font-size: 33px;
            line-height: 45px;
            color: #000000;
            span{
                color: #8F95A5;
            }
        }
        &__menu{
            position: absolute;
            top: 140px;
            left: 35px;
            align-items: flex-start;
            flex-direction: column;
            margin: 0;
            font-size: 20px;
            line-height: 30px;
            padding-left: 25px;
        }
        &__active{
            left: 0;
            box-shadow: 0 0 0 9999px rgba(0,0,0, 0.6);
        }
        &__logo{
            left: -90px;
            padding-top: 50px;
            width: 140px;
            img{
                width: 75%;
            }
        }
        &__logo-2{
            position: absolute;
            left: 0;
        }
        &__item{
            margin: 3px;
        }
        &__smth{
            position: absolute;
            top: 355px;
            right: 460px;
        }
    }

    .promo{
        min-height: 440px;
        padding-top: 60px;
        &__header{
            font-size: 36px;
        }
        &__subheader{
            font-size: 16px;
        }
        &__light{
            left: 195px;
        }
        &__logo{
        position: unset;
        width: 352px;
        height: 352px;
        }
        &__logo-1{
        width: 352px;
        height: 352px;
        }
        &_text{
            width: 300px;
            height: 270px;
            padding-left: 40px;
            float: none;
        }
        &__title{
            width: 270px;
            font-size: 36px;
            line-height: 45px;
        }
        &__subtitle{
            font-size: 16px;
            line-height: 24px;
            padding-right: 0;
        }
        &__btn{
            position: unset;
            padding-left: 30px;
        }
    }
    .button2{
        width: 235px;
        height: 70px;
        font-size: 18px;
    }
    .advantages{
        display: block;
        min-height: 765px;
        padding-bottom: 30px;
        &__text{
            font-size: 30px;
            list-style: 80px;
        }
        &__cards{
            max-width: 750px;
            max-height: 685px;
        }
        
        &__card1{
            width: 224px;
            height: 662px;
        }
        &__cardtext-1{
            padding-right: 47px;
            padding-bottom: 0;
            padding-left: 26px;
        }
        .button-card1{
            left: 23px;
        }
        &__img-1{
            left: 7px;
            width: 214px;
            height: 214px;
        }
        &__card2{
            width: 227px;
            height: 441px;
        }
        &__cardtext-2{
            top: -15px;
            padding-left: 26px;
            padding-right: 20px;
        }
        .button-card2{
            top: -12px;
            left: 22px;
        }
        &__img-2{
            left: 15px;
            width: 200px;
            height: 200px;
        }
        &__card3{
            width: 227px;
            height: 441px;
        }
        &__img-3{
            left: 7px;
            top: 25px;
            width: 216px;
            height: 144px;
        }
        &__cardtext-3{
            padding-left: 30px;
            padding-right: 25px;
            top: 40px;
            left: 0;
        }
        .button-card3{
            top: 44px;
            left: 25px;
        }
        &__card4{
            top: -210px;
            left: 125px;
            width: 462px;
            height: 210px;
        }
        &__img-4{
            left: 250px;
            width: 202px;
            height: 134px;
        }
        &__cardtext-4{
            top: -125px;
            left: 25px;
            padding: 0;
            width: 250px;
        }
        .button-card4{
            top: -125px;
            left: 25px;
        }
    }
    .buttons3{
        width: 178px;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
    }
    .titles{
        min-height: 400px;
        padding-bottom: 60px;
        &__img{
            width: 295px;
            height: 295px;
        }
        &__text{
            padding-left: 15px;
            float: none;
            max-width: 360px;
        }
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 14px;
            line-height: 21px;
        }
        &__mark1{
            position: relative;
            top: -20px;
        }
        &__mark-1{
            font-size: 22px;
            line-height: 80px;
            padding: 0 25px;
        }
        &__mark-2{
            font-size: 13px;
            line-height: 20px;
            padding: 0 26px;
        }
        &__mark-3{
            padding-left: 60px;
        }
        &__mark-4{
            padding: 0 37px;
        }
        &__mark2{
            position: relative;
            top: -40px;
        }
    }
    .pricing{
        display: block;
        min-height: 600px;
        padding-bottom: 60px;

        &__header-fix{
            top: -18px;

        }
        &__title{
            margin-top: 0;
            font-size: 30px;
            line-height: 80px;
        }
        &__header{
            margin-bottom: 0;
            font-size: 16px;
            line-height: 28px;
        }
        &__subheader{
            margin-bottom: 0;
            margin-top: 5px;
            padding-bottom: 0;
            font-size: 12px;
            line-height: 21px;
        }
        &__cards{
            margin: 0 auto;
            width: 720px;
            padding-left: 15px;
        }
        &__card-1{
            img{
                width: 197px;
                height: 197px;
            }
            width: 208px;
            height: 450px;
        }
        &__card-2{
            img{
                width: 219px;
                height: 168px;
            }
            width: 208px;
            height: 450px;
        }
        &__card-3{
            img{
                width: 210px;
                height: 210px;
            }
            width: 208px;
            height: 450px;
        }
        &__btn-text-min{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .button4{
        margin-top: 22px;
        font-size: 22px;
        line-height: 33px;
        width: 205px;
        height: 45px;
    }
    .btn-fix-1{
        margin-top: 61px;
    }
    .btn-fix-2{
        margin-top: 14px;
    }
    .contact{
        min-height: auto;
        min-width: 700px;
        &__header{
            right: -400px;
            font-size: 36px;
            line-height: 80px;
        }
        &__subheader{
            padding: 0 20px;
            font-size: 16px;
            line-height: 24px;
        }
        &__img{
            top: -55px;
            left: 0;
            width: 300px;
            height: 250px;
        }
        &__input{
            margin-right: 5px;
            height: 60px;
            width: 270px;
        }
        .button5{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            height: 60px;
            width: 150px;
        }
    }

    .footer{
        &__logo{
            width: 210px;
        }
        &__descr{
            justify-content: space-around;
        }
        &__item{
            font-size: 15px;
        }
        &__items{
            left: 0;
        }
        &__line{
            width: 740px;
        }
    }
}



@media (max-width: 425px){
    .container{
        max-width: 425px;
        margin: 0 auto;
        padding: 0;
    }
    .promo{
        min-height: 550px;
        max-width: 400px;
        margin: 0 auto;
        padding-top: 0px;
        padding-bottom: 0;
        &__light{
            display: none;
        }
        &_text{
            padding-bottom: 100px;
            width: 350px;
            height: 90px;
            margin: 0 auto;
            padding-left: 0;
            padding-bottom: 0;
            float: none;
        }
        &__title{
            max-width: none;
            width: 340px;
            text-align: center;
            font-size: 30px;
            line-height: 35px;
            margin: 0 auto;
            padding-bottom: 15px;
        }
        &__subtitle{
            text-align: center;
            font-size: 13px;
            line-height: 20px;
            padding: 0 10px;
        }
       
        &__logo{
            position: unset;
            margin: 0 auto;
            float: none;
            width: 350px;
            height: 300px;
        }
        &__logo-1{
            width: 350px;
            height: 311px;
        }
        &__btn{
            display: flex;
            position: relative;
            justify-content: center;
            float: none;
            margin: 0 auto;
            padding: 0;
            width: 300px;
            top: 70px;
            left: 1px;
        }
    }
    .button2{
        width: 230px;
        height: 60px;
        font-size: 16px;
    }   
    .advantages{
        display: flex;
        max-width: 425px;
        min-height: 1185px;
        margin: 0;
        padding: 0;
        padding-top: 15px;
        &__text{
            font-size: 30px;
            line-height: 80px;
            margin-top: 10px;
            padding-bottom: 0;
        }
        &__subheader{
            padding-top: 0;
        }
        &__cards{
            margin: 0 auto;
            width: 390px;
            justify-content: space-around;
        }
        &__card1{
            width: 180px;
            height: 590px;
            margin-bottom: 15px;
        }
        &__cardtext-1{
            padding: 0 10px;
        }
        &__img-1{
            top: 10px;
            width: 172px;
            left: 10px;
            height: auto;
        }
        &__card2{
            width: 180px;
            height: 590px;
        }
        &__cardtext-2{
            top: -9px;
            padding: 0 10px;
        }
        &__img-2{
            top: 10px;
            left: 0;
            width: 172px;
            height: 175px;
        }
        &__card3{
            width: 180px;
            height: 435px;
        }
        &__cardtext-3{
            top: 35px;
            left: 0;
            padding: 0 18px;
        }
        &__img-3{
            width: 192px;
            height: 132px;
            left: -2px;
            top: 20px;
        }
        &__card4{
            width: 180px;;
            height: 435px;
            top: 0;
            left: 0;
        }
        &__cardtext-4{
            width: auto;
            top: 32px;
            padding: 0 15px;
            margin-bottom: 25px;
            left: 0;
        }
        &__img-4{
            width: 175px;
            height: 135px;
            top: 15px;
            left: 4px;
        }
        .button-card1{
            width: 150px;
            height: 45px;
            font-size: 14px;
            top: 5px;
            left: 10px;
        }
        .button-card2{
            width: 150px;
            height: 45px;
            font-size: 14px;
            top: 148px;
            left: 11px;
        }
        .button-card3{
            width: 150px;
            height: 45px;
            font-size: 14px;
            top: 35px;
            left: 12px;
        }
        .button-card4{
            width: 150px;
            height: 45px;
            font-size: 14px;
            top: 33px;
            left: 12px;
        }
    }
    .titles{
        margin: 0 auto;
        min-height: 0;
        padding: 0;
        &__text{
            float: none;
            margin: 0 auto;
            padding-left: 0;
            min-width: 395px;

        }
        &__header{
            position: relative;
            top: -315px;
            text-align: center;
            font-size: 30px;
            line-height: 80px;
        }
        &__subheader{
            text-align: center;
            font-size: 14px;
            line-height: 21px;
            padding: 0 13px;
        }
        &__marks{
            position: relative;
            left: 15px;
            max-height: 250px;
            max-width: 320px;
        }
        &__mark2{
            top: 0;
            max-width: 320px;
        }
        &__mark1{
            position: relative;
            max-width: 320px;
            top: 13px;
        }
        &__mark-1{
            position: relative;
            left: 30px;
            line-height: 0px;
            font-size: 26px;
            padding: 0;

        }
        &__mark-2{
            position: relative;
            top: 13px;
            left: 35px;
            font-size: 13px;
            padding: 0px;
        }
        &__mark-3{
            position: relative;
            left: 215px;
            padding: 0;
        } 
        &__mark-4{
            position: relative;
            left: 115px;
            padding: 0;
        }
        &__mark-5{
            position: relative;
            left: 117px;
            padding: 0;
            padding-right: 5px;
        }
        &__mark-6{
            position: relative;
            left: 170px;
            padding: 0;
        }
        &__img{
            margin: 0 auto;
            padding: 0;
            float: none;
            position: relative;
            width: 320px;
            height: 320px;
            top: 60px;
        }

    }
    .pricing{
        display: block;
        min-height: 1700px;
        max-height: 1550px;
        padding-top: 100px;
        padding-bottom: 0px;
        img{
            min-width: 325px;
            height: 291px;
        }
        &__text{
            width: 300px;
            margin: 0 auto;
            padding-bottom: 20px;
        }

        &__header{
            font-size: 24px;
            line-height: 28px;
        }
        &__header-1{
            margin-top: 0;
        }
        &__header-fix{
            top: -25px;
        }
        &__subheader{
            font-size: 14px;
            line-height: 21px;
            padding: 0;
        }
        &__title{
            text-align: center;
            margin-top: 0;
            font-size: 30px;
            max-width: 388px;
            margin: 0;
        }
        &__cards{
            text-align: center;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 10px;
            padding-left: 0;
            margin: 0 auto;
            width: 325px;
            max-height: 950px;
        }
        &__card-1{
            img{
                width: 270px;
                height: 260px;
            }
            width: auto;
            padding: 0;
            height: 545px;
        }
        &__card-2{
            img{
                width: 270px;
                height: 200px;
            }
            width: auto;
            padding: 0;
            height: 480px;
        }
        &__card-3{
            width: auto;
            height: 500px;
            padding: 0;
        }
        &__img-1{
            top: 5px;
            width: 314px;
            padding: 0;
        }

        &__btn-text-min{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .button4{
        margin-top: 0;
        border-radius: 5px;
        width: 205px;
        height: 45px;
        font-size: 22px;
        line-height: 33px;
    }
    .btn-fix-1{
        margin-top: 35px;
    }
    .btn-fix-2{
        margin-top: 35px;
    }


    .contact{
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 0px;
        max-height: 750px;
        min-height: 685px;
        min-width: 400px;
        &__input{
            width: 250px;
        }
        &__text{
            position: unset;
            text-align: center;
            margin: 0 auto;
        }
        &__img{
            position: unset;
            float: none;
            top: 5px;
            left: 0;
            width: 290px;
            height: 300px;
        }
        &__header{
            width: auto;
            position: unset;
            font-size: 30px;
            margin-bottom: 0;
        }
        &__subheader{
            padding: 0 15px;
            font-size: 15px;
        }
        &__input{
            margin: 0;
            margin-bottom: 10px;
            width: 300px;
            height: 60px;
        }
        &_img-box{
            width: 305px;
            height: 300px;
            margin: 0 auto;
        }


    }
    .button5{
        height: 60px;
        width: 160px;
        font-size: 16px;
    }


    .footer{
        max-width: 400px;
        min-height: 80px;
        padding-right: 15px;
        &__objects{
            display: block;
        }
        &__descr{
            display: flex;
        }
        &__imgs{
            display: block;
            padding-bottom: 10px;
        }

        &__menu{
            float: right;
            width: 308px;
        }
        &__items{
            position: inherit;
            height: 40px;
            padding-left: 25px;
        }
        &__item{
            font-size: 10px;
            line-height: 18px;
        }
        &__logo{
            position: inherit;
            width: auto;
            padding-left: 5px;
        }
        &__logo-text{
            position: inherit;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #000000;
            span{
                color: #8F95A5;
            }
        }
        &__line{
            width: 400px;
        }
    }


    .header{
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: none;
        justify-content: none;
        margin: 0;
        top: 0;
        right: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 3;
        transition: 0.4s all;
        a:visited{
            color: black;
        }
        &__logo-box{
            display: block;
            position: relative;
            width: 105px;
            left: 40px;
            top: 40px;
        }
        &__logo-text{
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #000000;
            span{
                color: #8F95A5;
            }
        }
        &__menu{
            position: absolute;
            top: 140px;
            left: 35px;
            align-items: flex-start;
            flex-direction: column;
            margin: 0;
            font-size: 20px;
            line-height: 30px;

        }
        &__active{
            left: 0;
        }
        &__logo{
            left: -90px;
            padding-top: 50px;
            width: 140px;
            img{
                width: 75%;
            }
        }
        &__logo-2{
            position: absolute;
            left: 0;
        }
        &__item{
            margin: 3px;
        }
    }

    .button1{
        z-index: 3;
        width: 195px;
        height: 55px;
        font-size: 20px;
    }      
}

@media (max-width: 375px){

    .container{
        max-width: 375px;
        margin: 0 auto;
    }
    .header{
        &__logo{
            top: 9px;
        }
        &__logo-box{
            left: 30px;
            top: 15px;
        }
        &__smth{
            right: 425px;
        }
    }

    .promo{
        padding-top: 0px;
        &__title{
            position: unset;
            max-width: none;
        }
        &_text{
            margin: 0 auto;
            height: 150px;
            padding-bottom: 10px;
        }
        &__subtitle{
            left: -5px;
        }

        &__btn{
            position: unset;
            padding-left: 0;
        }
    }
    .button2{
        left: 50px;
    }
    .advantages{
        
        &__header{
            text-align: center;
            font-size: 23px;
        }
        &__subheader{
            text-align: center;
            font-size: 13px;
        }
        &__cards{
            justify-content: center;
            min-height: 2000px;
            width: 375px;
            max-width: 375px;
        }
        &__card1{
            width: 280px;
            height: 550px;
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__cardtext-1{
            padding: 0 20px;
        }
        &__img-1{
            width: 214px;
            height: 214px;
            left: 35px;
        }
        &__card2{
            width: 280px;
            height: 415px;
            margin-right: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__cardtext-2{
            padding-left: 20px;
            padding-right: 15px;
        }
        &__img-2{
            width: 204px;
            height: 204px;
            left: 38px;
        }

        &__card3{
            width: 280px;
            height: 415px;
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__cardtext-3{
            padding-left: 20px;
            padding-right: 15px;
        }
        &__img-3{
            width: 236px;
            height: 157px;
            left: 25px;
        }

        &__card4{
            width: 280px;
            height: 400px;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__img-4{
            width: 232px;
            height: 154px;
            top: 25px;
            left: 22px;
        }
        .button-card1{
            left: 65px;
        }

        .button-card2{
            top: 0;
            left: 65px;
        }
        .button-card3{
            top: 45px;
            left: 65px;
        }
        .button-card4{
            top: 23px;
            left: 65px;
        }
    }
    .pricing{
        &__cards{
            padding-left: 0;
        }
        &__card-1{
            width: auto;
        }
        &__card-2{
            width: auto;
        }
        &__card-3{
            width: auto;
        }
    }
    .titles{
        &__text{
            padding-left: 0;
            min-width: 350px;
        }
        &__marks{
            left: 0;
        }
        &__mark-6{
            left: 167px;
        }
    }
    .contact{
        min-width: 350px;
    }
    .footer{
        max-width: 360px;
        min-height: 100px;
        &__line{
            width: 350px;
        }
        &__items{
            align-items: center;
            padding-left: 0px;
            height: auto;
        }
        &__item{
            font-size: 9px;
        }
        &__logo-text{
            font-size: 25px;
        }
    }
}

@media (max-width: 320px){
    .container{
        max-width: 315px;
        margin: 0 auto;
    }

    .promo{
        &__logo{
            width: 265px;
            height: 265px;
        }
        &__logo-1{
            width: 265px;
            height: 255px;
        }
        &_text{
            width: 300px;
        }
        &__title{
            font-size: 24px;
            width: 300px;
        }
        &__btn{
            padding-left: 0;
        }
    }

    .advantages{
        display: flex;
        max-width: 320px;
        &__text{
            font-size: 24px;
        }
        &__header{
            font-size: 21px;
        }
        &__subheader{
            font-size: 12px;
        }
        &__cards{
            width: 280px;
        }
        &__card1{
            margin: 0;
        }
        &__card2{
            margin: 0;
        }
        &__card3{
            margin: 0;
        }
        &__card4{
            margin: 0;
        }
        &__img-1{
            left: 32px;
        }
        .button-card1{
            font-size:13px;
            font-weight: 300;
        }
        .button-card2{
            font-size:13px;
            font-weight: 300;
        }
        .button-card3{
            font-size:13px;
            font-weight: 300;
        }
    }
    .titles{
        &__text{
            margin: 0 auto;
            min-width: 300px;
            max-width: 300px;
            padding-left: 0;
        }
        &__header{
            margin: 0 auto;
            width: 250px;
            top: -265px;
            font-size: 24px;
        }
        &__subheader{
            font-size: 12px;
        }
        &__img{
            width: 280px;
            height: 315px;
        }
        &__marks{
            position: unset;
            max-width: 300px;
            margin: 0 auto;
        }
        &__mark2{
            top: 0;
        }
        &__mark-1{
            font-size: 21px;
        }
        &__mark-2{
            font-size: 11px;
        }
        &__mark-3{
            left: 155px;
        }
        &__mark-4{
            left: 93px;
        }
        &__mark-5{
            left: 90px;
        }
        &__mark-6{
            left: 113px;
        }
    }
    .pricing{
        min-height: 1560px;
        &__header{
            font-size: 22px;
        }
        &__subheader{
            font-size: 13px;
        }
        img{
            min-width: 280px;
        }
        &__title{
            font-size: 24px;
        }
        &__cards{
            padding-left: 0;
            width: 280px;
        }
        &__card-1{
            width: 280px;
            img{
                width: 250px;
                height: 250px;
            }
        }
        &__card-2{
            height: 444px;
        }

        &__card-2{
            width: 280px;
            img{
                width: 257px;
                height: 200px;
            }
        }
        &__card-3{
            width: 280px;
            img{
                width: 250px;
                height: 200px;
            }
        }
        .button4{
            padding-top: 5px;
            padding-bottom: 5px;
            width: 170px;
            height: 41px;
            font-size: 20px;
            span{
                font-size: 14px;
            }
        }
    }
    
    .contact{
        min-height: 670px;
        padding-bottom: 0;
        min-width: 300px;
        &__header{
            font-size: 24px;
        }
        &__img{
            height: 270px;
        }
        &_img-box{
            height: 275px;
        }
        &__subheader{
            font-size: 12px;
        }
        &__input{
            font-size: 12px;
            padding: 25px;
            height: 60px;
            margin: 0;
        }
        .button5{
            font-size: 14px;
            font-weight: 400;
            height: 60px;
            width: 300px;
        }
    }

    .header{
        &__logo{
            left: -67px;
            width: 110px;
            top: 11px;
        }
        &__logo-box{
            left: 30px;
            top: 25px;
        }
        &__menu{
            left: 10px;
            font-weight: 400;
            top: 115px;
            padding-left: 35px;
        }
        &__item{
            margin: 0;
        }
        &__smth{
            top: 300px;
            right: 395px;
        }
    }
    .button1{
        width: 165px;
        height: 45px;
    }
    .footer{
        padding-right: 0;
        &__logo-text{
            margin: 0 auto;
            margin-top: 10px;
            width: 100px;
        }
        &__descr{
            flex-direction: column;
        }
        &__line{
            margin: 0 auto;
            width: 290px;
        }
        &__items{
            margin: 0;
            align-items: baseline;
            justify-content: center;
        }
        &__item{
            font-size: 7px;
        }
        &__items{
            padding-right: 11px;
        }
    }

}
