@media (max-width:992px){
    .container{
        padding-left: 75px;
    }
    .header{
        &__menu{
            position: relative;
            left: 150px;
        }
        &__logo{
            position: relative;
            left: 25px;
            top: 5px;
        }
    }
    .button1{
        position: relative;
        right: -275px;
        width: 160px;
        height: 50px;
        border: 2px solid #263238;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
    }

    .promo{
        min-height: 500px;
        &__logo{
            position: relative;
            top: -630px;
            right: -190px;
            width: 500px;
            height: 500px;
        }
        &__logo-1{
            width: 500px;
            height: 500px;
        }
        &_text{
            padding-left: 20px;
        }
        &__title{
            font-size: 48px;
            line-height: 64px;
        }
        &__light{
            position: relative;
            left: 300px;
            top: -235px;
            width: 70px;
            height: 70px;
        }
    }

    .button2{
        width: 292px;
        height: 80px;
        font-size: 24px;
        line-height: 36px;
        left: -77px;
        border-radius: 7px;
    }

    .advantages{
        &__header{
          font-size: 22px;
          line-height: 1px;  
        }
        &__subheader{
            font-size: 14px;
            line-height: 21px;
        }
        &__card1{
            height: 696px;
            width: 303px;
        }
        &__cardtext-1{
            padding-right: 60px;
            padding-bottom: 15px;
            padding-left: 40px;
        }
        &__img-1{
            width: 260px;
            height: 260px;
        }
        &__card2{
            width: 302px;
            height: 441px;
        }
        &__cardtext-2{
            top:50px;
            left: 0;
        }
        &__img-2{
            width: 205px;
            height: 205px;
            left: 90px;
        }
        &__card3{
            width: 302px;
            height: 441px;
        }
        &__card4{
            width: 616px;
            height: 241px;
        }
    }

    .button-card1{
        top: 0;
        left: 36px;
        width: 196px;
        height: 57px;
    }
}

@media (max-width: 575px){
    .container{
        max-width: 575px;
        margin: 0;
        padding: 0;
    }
    
    .promo{
        min-height: 550px;
        &__light{
            display: none;
        }
        &_text{
            position: relative;
            padding-bottom: 100px;
            top: 260px;
            left: 23px;
            width: 350px;
            margin: 0;
            padding-left: 0;
            padding-bottom: 0;
            height: 0;
        }
        &__title{
            text-align: center;
            font-size: 30px;
            line-height: 35px;
            margin: 0;
            padding-bottom: 15px;
        }
        &__subtitle{
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            padding-right: 0;
        }
       
        &__logo{
            float: none;
            top: -50px;
            width: 424px;
            height: 424px;
            right: -4px;
        }
        &__logo-1{
            width: 390px;
            height: 311px;
        }
    }
    .button2{
        position: relative;
        top: -5px;
        left: 50px;
        width: 250px;
        height: 60px;
        font-size: 16px;
    }








    
    .advantages{
        &__text{
            position: relative;
            left: -18px;
            font-size: 30px;
            line-height: 80px;
            margin-top: 10px;
            padding-bottom: 0;
        }
        &__subheader{
            padding-top: 0;
        }
        &__cards{
            width: 420px;
            justify-content: normal;
        }
        &__card1{
            width: 190px;
            height: 590px;
            margin-bottom: 15px;
            margin-right: 15px;
        }
        &__cardtext-1{
            padding: 0 18px;
        }
        &__img-1{
            top: 10px;
            width: 172px;
            left: 10px;
            height: auto;
        }
        &__card2{
            width: 190px;
            height: 590px;
            margin-right: 10px;
        }
        &__cardtext-2{
            top: -9px;
            padding: 0 18px;
        }
        &__img-2{
            top: 0;
            left: 0;
            width: 182px;
            height: 182px;
        }
        &__card3{
            width: 190px;
            height: 505px;
            margin-right: 10px;
        }
        &__cardtext-3{
            top: 35px;
            left: 0;
            padding: 0 18px;
        }
        &__img-3{
            width: 192px;
            height: 132px;
            left: -2px;
            top: 20px;
        }
        &__card4{
            width: 190px;;
            height: 505px;
            top: 0;
            left: 0;
        }
        &__cardtext-4{
            padding: 0;
            top: 32px;
            padding: 0 13px;
        }
        &__img-4{
            width: 185px;
            height: 135px;
            top: 15px;
            left: 4px;
        }
    }

    .button-card1{
        width: 165px;
        height: 45px;
        font-size: 14px;
        top: 5px;
        left: 10px;
    }
    .button-card2{
        width: 165px;
        height: 45px;
        font-size: 14px;
        top: 142px;
         left: 11px;
    }
    .button-card3{
        width: 165px;
        height: 45px;
        font-size: 14px;
        top: 100px;
        left: 12px;
    }
    .button-card4{
        width: 165px;
        height: 45px;
        font-size: 14px;
        top: 118px;
        left: 12px;
    }






    .pricing{
        &__cards{
            display: block;
            width: auto;
        }
    }





    .header{
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: none;
        justify-content: none;
        margin: 0;
        top: 0;
        right: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 3;
        transition: 0.4s all;
        &__menu{
            position: absolute;
            top: 140px;
            left: 35px;
            align-items: flex-start;
            flex-direction: column;
            margin: 0;
            font-size: 30px;
            line-height: 65px;

        }
        &__active{
            left: 0;
        }
        &__logo{
            left: -245px;
            padding-top: 50px;
            width: 140px;
        }
        &__logo-2{
            position: absolute;
            left: 0;
        }
        &__item{
            margin: 3px;
        }
    }
    .footer{
        &__line{
            width: 575px;
        }
    }
    .button1{
        position: absolute;
        z-index: 3;
        top: 533px;
        left: 73px;
        width: 215px;
        height: 70px;
        font-size: 25px;
    }

    .contact{
        min-width: 1px;
        &__input{
            width: 250px;
        }
        &__img{
            float: none;
            width: 300px;
            height: 400px;
        }
    }

    
    .footer{
        max-width: 400px;
        &__line{
            width: 400px;
        }
    }    
 
        
        
        
        
    .hamburger{
        z-index: 4;
        display: block;
        position: absolute;
        right: 35px;
        top: 70px;
        width: 30px;
        height: 50px;
            span{
                display: block;
                height: 3px;
                width: 100%;
                background-color: #39515E;
                margin-bottom: 6px;
                transition: 0.4s all;
                &:nth-child(3){
                    width: 15px;
                }
                &:nth-child(4){
                    position: absolute;
                    top: -550px;
                }
            }
        &__active{
            span{
                margin-bottom: -4px;
                 &:nth-child(1){
                     width:35px;
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        width: 35px;
                        transform: translateY(3px) rotate(45deg);
                    }
                    &:nth-child(4){
                        position: absolute;
                        top: 55px;
                        left: -538px;
                        width: 550px;
                        transform: 3s;
                    }
                }   
                 
        }
    }
}
