@media (max-width:992px){

    .header{
        &__menu{
            position: relative;
            left: 150px;
        }
        &__logo{
            position: relative;
            left: 25px;
            top: 5px;
        }
    }
    .button1{
        position: relative;
        right: -275px;
        width: 160px;
        height: 50px;
        border: 2px solid #263238;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
    }

    .promo{
        min-height: 500px;
        &__logo{
            position: relative;
            top: -630px;
            right: -190px;
            width: 500px;
            height: 500px;
        }
        &__logo-1{
            width: 500px;
            height: 500px;
        }
        &_text{
            padding-left: 20px;
        }
        &__title{
            font-size: 48px;
            line-height: 64px;
        }
        &__light{
            position: relative;
            left: 300px;
            top: -235px;
            width: 70px;
            height: 70px;
        }
    }

    .button2{
        width: 292px;
        height: 80px;
        font-size: 24px;
        line-height: 36px;
        left: -77px;
        border-radius: 7px;
    }

    .advantages{
        &__header{
          font-size: 22px;
          line-height: 1px;  
        }
        &__subheader{
            font-size: 14px;
            line-height: 21px;
        }
        &__card1{
            height: 696px;
            width: 303px;
        }
        &__cardtext-1{
            padding-right: 60px;
            padding-bottom: 15px;
            padding-left: 40px;
        }
        &__img-1{
            width: 260px;
            height: 260px;
        }
        &__card2{
            width: 302px;
            height: 441px;
        }
        &__cardtext-2{
            top:50px;
            left: 0;
        }
        &__img-2{
            width: 205px;
            height: 205px;
            left: 90px;
        }
        &__card3{
            width: 302px;
            height: 441px;
        }
        &__card4{
            width: 616px;
            height: 241px;
        }
    }

    .button-card1{
        top: 0;
        left: 36px;
        width: 196px;
        height: 57px;
    }
}

@media (max-width: 575px){
    body{
        margin-right: 0;
        margin-bottom: 0;
    }
    .container{
        max-width: 575px;
        margin: 0;
        padding: 0;
    }
    .promo{
        min-height: 550px;
        max-width: 400px;
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0;
        &__light{
            display: none;
        }
        &_text{
            padding-bottom: 100px;
            width: 350px;
            height: 90px;
            margin: 0 auto;
            padding-left: 0;
            padding-bottom: 0;
            float: none;
        }
        &__title{
            max-width: none;
            width: 340px;
            text-align: center;
            font-size: 30px;
            line-height: 35px;
            margin: 0 auto;
            padding-bottom: 15px;
        }
        &__subtitle{
            text-align: center;
            font-size: 13px;
            line-height: 20px;
            padding: 0 10px;
        }
       
        &__logo{
            position: unset;
            margin: 0 auto;
            float: none;
            top: -50px;
            width: 350px;
            height: 300px;
            right: -25px;
        }
        &__logo-1{
            width: 350px;
            height: 311px;
        }
        &__btn{
            display: flex;
            justify-content: center;
            float: none;
            margin: 0 auto;
            width: 300px;
            top: 70px;
            left: 1px;
        }
    }
    .button2{
        width: 230px;
        height: 60px;
        font-size: 16px;
    }   
    .advantages{
        max-width: 400px;
        min-height: 1250px;
        margin: 0;
        padding: 0;
        &__text{
            font-size: 30px;
            line-height: 80px;
            margin-top: 10px;
            padding-bottom: 0;
        }
        &__subheader{
            padding-top: 0;
        }
        &__cards{
            width: 400px;
            justify-content: normal;
        }
        &__card1{
            width: 180px;
            height: 590px;
            margin-bottom: 15px;
            margin-right: 10px;
            margin-left: 15px;
        }
        &__cardtext-1{
            padding: 0 10px;
        }
        &__img-1{
            top: 10px;
            width: 172px;
            left: 10px;
            height: auto;
        }
        &__card2{
            width: 180px;
            height: 590px;
            margin-right: 10px;
        }
        &__cardtext-2{
            top: -9px;
            padding: 0 10px;
        }
        &__img-2{
            top: 10px;
            left: 0;
            width: 172px;
            height: 175px;
        }
        &__card3{
            width: 180px;
            height: 505px;
            margin-right: 10px;
            margin-left: 15px;
        }
        &__cardtext-3{
            top: 35px;
            left: 0;
            padding: 0 18px;
        }
        &__img-3{
            width: 192px;
            height: 132px;
            left: -2px;
            top: 20px;
        }
        &__card4{
            width: 180px;;
            height: 505px;
            top: 0;
            left: 0;
        }
        &__cardtext-4{
            padding: 0;
            top: 32px;
            padding: 0 15px;
            margin-bottom: 25px;
            left: 0;
        }
        &__img-4{
            width: 175px;
            height: 135px;
            top: 15px;
            left: 4px;
        }
    }
    .button-card1{
        width: 150px;
        height: 45px;
        font-size: 14px;
        top: 5px;
        left: 10px;
    }
    .button-card2{
        width: 150px;
        height: 45px;
        font-size: 14px;
        top: 148px;
        left: 11px;
    }
    .button-card3{
        width: 150px;
        height: 45px;
        font-size: 14px;
        top: 100px;
        left: 12px;
    }
    .button-card4{
        width: 150px;
        height: 45px;
        font-size: 14px;
        top: 98px;
        left: 12px;
    }
    .titles{
        min-height: 0;
        padding: 0;
        &__text{
            float: none;
            min-width: 395px;

        }
        &__header{
            position: relative;
            top: -315px;
            text-align: center;
            font-size: 30px;
            line-height: 80px;
        }
        &__subheader{
            position: relative;
            left: -8px;
            text-align: center;
            font-size: 14px;
            line-height: 21px;
            padding: 0 13px;
        }
        &__marks{
            position: relative;
            left: 15px;
            max-height: 250px;
            max-width: 320px;
        }
        &__mark2{
            max-width: 320px;
        }
        &__mark1{
            position: relative;
            max-width: 320px;
            top: 13px;
        }
        &__mark-1{
            position: relative;
            left: 30px;
            line-height: 0px;
            font-size: 26px;
            padding: 0;

        }
        &__mark-2{
            position: relative;
            top: 13px;
            left: 35px;
            font-size: 13px;
            padding: 0px;
        }
        &__mark-3{
            position: relative;
            left: 215px;
            padding: 0;
        } 
        &__mark-4{
            position: relative;
            left: 115px;
            padding: 0;
        }
        &__mark-5{
            position: relative;
            left: 117px;
            padding: 0;
            padding-right: 5px;
        }
        &__mark-6{
            position: relative;
            left: 174px;
            padding: 0;
        }
        &__img{
            margin: 0 auto;
            padding: 0;
            float: none;
            position: relative;
            width: 340px;
            height: 340px;
            top: 60px;
        }

    }
    .pricing{
        display: block;
        min-height: 1700px;
        padding-top: 100px;
        padding-bottom: 100px;
        img{
            min-width: 325px;
            height: 291px;
        }

        &__header{
            font-size: 24px;
            line-height: 28px;
        }
        &__header-1{
            margin-top: 0;
        }
        &__header-fix{
            top: -25px;
        }
        &__subheader{
            font-size: 14px;
            line-height: 21px;
            padding: 0;
        }
        &__title{
            margin-top: 0;
            font-size: 30px;
            max-width: 388px;
        }
        &__cards{
            text-align: center;
            margin: 0 auto;
            justify-content: center;
            flex-wrap: wrap;
            width: 325px;
            max-height: 950px;
        }
        &__card-1{
            padding: 0;
            height: 575px;
        }
        &__card-2{
            padding: 0;
            height: 575px;
        }
        &__card-3{
            height: 575px;
            padding: 0;
        }
        &__img-1{
            top: 5px;
            width: 314px;
            padding: 0;
        }

        &__btn-text-min{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .button4{
        border-radius: 5px;
        width: 205px;
        height: 45px;
        font-size: 22px;
        line-height: 33px;
    }
    .btn-fix-2{
        margin-top: 18px;
    }


    .contact{
        padding-bottom: 50px;
        padding-top: 0px;
        max-height: 750px;
        min-width: 400px;
        &__input{
            width: 250px;
        }
        &__text{
            position: unset;
            text-align: center;
            margin: 0 auto;
        }
        &__img{
            float: none;
            width: 320px;
            height: 320px;
        }
        &__header{
            width: auto;
            position: unset;
            font-size: 30px;
            margin-bottom: 0;
        }
        &__subheader{
            padding-right: 0;
            font-size: 16px;
        }
        &__input{
            margin: 0;
            margin-bottom: 10px;
            width: 300px;
            height: 60px;
        }
        &_img-box{
            width: 305px;
            height: 300px;
            margin: 0 auto;
        }


    }
    .button5{
        height: 60px;
        width: 160px;
        font-size: 16px;
    }

    .footer{
        min-height: 80px;
        &__objects{
            display: block;
        }
        &__descr{
            display: flex;
        }
        &__imgs{
            display: block;
            padding-bottom: 10px;
        }

        &__menu{
            float: right;
            width: 308px;
        }
        &__items{
            position: inherit;
            height: 40px;
            padding-left: 25px;
        }
        &__item{
            font-size: 10px;
            line-height: 18px;
        }
        &__logo{
            position: inherit;
            width: auto;
            padding-left: 5px;
        }
        &__logo-text{
            position: inherit;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #000000;
            span{
                color: #8F95A5;
            }
        }
    }


    .header{
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: none;
        justify-content: none;
        margin: 0;
        top: 0;
        right: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 3;
        transition: 0.4s all;
        &__logo-box{
            display: block;
            position: relative;
            width: 105px;
            left: 40px;
            top: 40px;
        }
        &__logo-text{
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #000000;
            span{
                color: #8F95A5;
            }
        }
        &__menu{
            position: absolute;
            top: 140px;
            left: 35px;
            align-items: flex-start;
            flex-direction: column;
            margin: 0;
            font-size: 20px;
            line-height: 30px;

        }
        &__active{
            left: 0;
        }
        &__logo{
            left: -90px;
            padding-top: 50px;
            width: 140px;
            img{
                width: 75%;
            }
        }
        &__logo-2{
            position: absolute;
            left: 0;
        }
        &__item{
            margin: 3px;
        }
    }
    .button1{
        position: absolute;
        z-index: 3;
        top: 393px;
        left: 47px;
        width: 195px;
        height: 55px;
        font-size: 20px;
    }      
    .footer{
        max-width: 400px;
        min-height: 95px;
        padding-right: 15px;
        &__line{
            width: 400px;
        }
    }
}

@media (max-width: 375px){
    body{
        margin: 0;
    }
    .container{
        max-width: 375px;
        margin: 0 auto;
    }
    .header{
        &__logo{
            top: 9px;
        }
        &__logo-box{
            left: 30px;
            top: 15px;
        }
    }
    .button1{
        top: 375px;
    }
    .promo{
        padding-top: 0px;
        &__title{
            position: unset;
            max-width: none;
        }
        &_text{
            margin: 0 auto;
            height: 150px;
            padding-bottom: 10px;
        }
        &__subtitle{
            left: -5px;
        }
        &__logo{
            right: -20px;
        }
        &__btn{
            position: unset;
        }
    }
    .button2{
        left: 50px;
    }
    .advantages{
        
        &__header{
            text-align: center;
            font-size: 23px;
        }
        &__subheader{
            text-align: center;
            font-size: 13px;
        }
        &__cards{
            justify-content: center;
            min-height: 2000px;
            width: 375px;
            max-width: 375px;
        }
        &__card1{
            width: 280px;
            height: 550px;
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__cardtext-1{
            padding: 0 20px;
        }
        &__img-1{
            width: 214px;
            height: 214px;
            left: 35px;
        }
        &__card2{
            width: 280px;
            height: 415px;
            margin-right: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__cardtext-2{
            padding-left: 20px;
            padding-right: 15px;
        }
        &__img-2{
            width: 204px;
            height: 204px;
            left: 38px;
        }

        &__card3{
            width: 280px;
            height: 415px;
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__cardtext-3{
            padding-left: 20px;
            padding-right: 15px;
        }
        &__img-3{
            width: 236px;
            height: 157px;
            left: 25px;
        }

        &__card4{
            width: 280px;
            height: 400px;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__img-4{
            width: 232px;
            height: 154px;
            top: 25px;
            left: 22px;
        }
        .button-card1{
            left: 65px;
        }

        .button-card2{
            top: 0;
            left: 65px;
        }
        .button-card3{
            top: 45px;
            left: 65px;
        }
        .button-card4{
            top: 23px;
            left: 65px;
        }
    }






    .titles{
        &__text{
            min-width: 350px;
        }
    }
    .contact{
        min-width: 350px;
    }
    .footer{
        max-width: 360px;
        min-height: 100px;
        &__line{
            width: 350px;
        }
    }


}