.footer{
    min-height: 135px;
    &__line{
        width: 1338px;
        height: 1px;
        background: #C4C4C4;
    }
    &__logo{
        position: relative;
        top: 22px;
        width: 105px;
    }
    &__descr{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        float: right;
        width: 630px;
        height: 50px;
    }
    &__items{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        left: -100px;
        padding-left: 0;

        }
    &__item{
        font-weight: 400;
        font-size: 22px;
        color: #8F95A5;
    }
    a:visited{
        color: #8F95A5;
    }
    &__logo-text{
        position: inherit;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;
        color: #000000;
        span{
            color: #8F95A5;
        }
    }
}