@media(max-width: 575px){
    .hamburger{
        z-index: 4;
        display: block;
        position: absolute;
        right: 35px;
        top: 70px;
        width: 30px;
        height: 50px;
            span{
                display: block;
                height: 2px;
                width: 100%;
                background-color: #39515E;
                margin-bottom: 6px;
                transition: 0.4s all;
                &:nth-child(3){
                    width: 15px;
                }
                &:nth-child(4){
                    position: absolute;
                    top: -550px;
                }
            }
        &__active{
            position: fixed;
            right: 35px;
            span{
                margin-bottom: -4px;
                 &:nth-child(1){
                     width:35px;
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        width: 35px;
                        transform: translateY(3px) rotate(45deg);
                    }
                    &:nth-child(4){
                        position: absolute;
                        top: 45px;
                        left: -311px;
                        width: 334px;
                    }
                }   
                 
        }
    }
    }
@media(max-width: 425px){
.hamburger{
    z-index: 4;
    display: block;
    position: absolute;
    right: 35px;
    top: 70px;
    width: 30px;
    height: 50px;
        span{
            display: block;
            height: 2px;
            width: 100%;
            background-color: #39515E;
            margin-bottom: 6px;
            transition: 0.4s all;
            &:nth-child(3){
                width: 15px;
            }
            &:nth-child(4){
                position: absolute;
                top: -550px;
            }
        }
    &__active{
        position: fixed;
        right: 35px;
        span{
            margin-bottom: -4px;
             &:nth-child(1){
                 width:35px;
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    width: 35px;
                    transform: translateY(3px) rotate(45deg);
                }
                &:nth-child(4){
                    position: absolute;
                    top: 45px;
                    left: -311px;
                    width: 334px;
                }
            }   
             
    }
}
}
@media(max-width: 375px){
.hamburger{
    right: 25px;
    top: 50px;
    height: 20px;
    &__active{
        top: 65px;
        right: 35px;
        span{
            &:nth-child(4){
            position: absolute;
            top: 45px;
            left: -280px;
            width: 300px;
        }
    }
    }
}
}
@media (max-width: 320px){
    .hamburger{
        top: 60px;
        &__active{
            top: 70px;
            right: 50px;
            span{
                &:nth-child(1){
                    width: 25px;
                    transform: translateY(2px) rotate(-45deg);
                }
                &:nth-child(3){
                    width: 25px;
                    transform: translateY(3px) rotate(45deg);
                }
                &:nth-child(4){
                position: absolute;
                top: 35px;
                left: -196px;
                width: 220px;
                height: 1px;
            }
        }
        }
    }
}