.promo{
    min-height: 775px; 
    padding: 101px 0 30px 0;
    align-items: center;
    &_text{
        float: left;
        width: 685px;
        height: 564px;
    }
    &__title{
        width: 327px;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        margin: 0 0 20px 0;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #8F95A5;
        margin: 0 0 20px 0;
        padding-right: 122px;
    }
    &__logo{
        float:right;
        position: relative;
        top: -80px;
        width: 611px;
        height: 492px;
    }
    &__light{
        position: relative;
        top: -325px;
        left: 340px;
    }
    &__btn{
        float: left;
        position: relative;
        left: -695px;
        top: -95px;
    }
}