.titles{
    display: block;
    min-height: 580px;
    padding: 50px 0 135px 0;
    &__text{
        float:left;
        max-width: 635px;
    }
    &__header{
        margin-bottom: 0;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: #2A3246;
    }
    &__subheader{
        float: left;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
    }
    &__img{
        float: right;
    }


    &__mark-1{
        display: inline;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: #2A3246;
        padding-right: 103px;
    }
    &__mark-2{
        display: inline;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
        padding-right: 81px;
        padding-left: 20px;
    }
    &__mark-3{
        padding-left: 70px;
    }
    &__mark-4{
        padding-left: 16px;
    }
    &__mark-5{
        padding-left: 38px;
    }

    &__mark-6{
        padding-left: 37px;
    }

}